backend/app/gis/data/hcs_wsdl_xsd_v.13.2.7.1/nsi/hcs-nsi-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://dom.gosuslugi.ru/schema/integration/base/" xmlns:nsi-base="http://dom.gosuslugi.ru/schema/integration/nsi-base/" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/nsi/" targetNamespace="http://dom.gosuslugi.ru/schema/integration/nsi/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="13.0.0.1">
	<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/base/" schemaLocation="../lib/hcs-base.xsd"/>
	<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/nsi-base/" schemaLocation="../lib/hcs-nsi-base.xsd"/>
	<!--Импортировать данные справочника 1 "Дополнительные услуги"-->
	<xs:element name="importAdditionalServicesRequest">
		<xs:annotation>
			<xs:documentation>Запрос на импорт данных справочника 1 "Дополнительные услуги".</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:sequence>
						<xs:element name="ImportAdditionalServiceType" minOccurs="0" maxOccurs="1000">
							<xs:annotation>
								<xs:documentation>Создание/изменение вида дополнительной услуги.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:sequence>
										<xs:element ref="base:TransportGUID"/>
										<xs:element name="ElementGuid" type="base:GUIDType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Идентификатор существующего элемента справочника</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:element name="AdditionalServiceTypeName" type="base:String100Type">
										<xs:annotation>
											<xs:documentation>Наименование вида дополнительной услуги.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:choice>
										<xs:element ref="base:OKEI">
											<xs:annotation>
												<xs:documentation>Единица измерения из справочника ОКЕИ.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="StringDimensionUnit">
											<xs:annotation>
												<xs:documentation>(параметр более не поддерживается)
Другая единица измерения.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="base:String100Type">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:choice>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="RecoverAdditionalServiceType" minOccurs="0" maxOccurs="1000">
							<xs:annotation>
								<xs:documentation>Восстановление вида дополнительной услуги.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="base:TransportGUID"/>
									<xs:element name="ElementGuid" type="base:GUIDType">
										<xs:annotation>
											<xs:documentation>Идентификатор ранее существовавшего  элемента справочника.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="DeleteAdditionalServiceType" minOccurs="0" maxOccurs="1000">
							<xs:annotation>
								<xs:documentation>Удаление вида дополнительной услуги.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="base:TransportGUID"/>
									<xs:element name="ElementGuid" type="base:GUIDType">
										<xs:annotation>
											<xs:documentation>Идентификатор существующего элемента справочника.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute ref="base:version" use="required" fixed="10.0.1.2"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:key name="importAdditionalServicesRequest_TransportGUIDKey">
			<xs:selector xpath=".//base:TransportGUID"/>
			<xs:field xpath="."/>
		</xs:key>
		<xs:key name="importAdditionalServicesRequest_ElementGuidKey">
			<xs:selector xpath=".//tns:ElementGuid"/>
			<xs:field xpath="."/>
		</xs:key>
	</xs:element>
	<!--Импортировать данные справочника 51 "Коммунальные услуги"-->
	<xs:element name="importMunicipalServicesRequest">
		<xs:annotation>
			<xs:documentation>Запрос на импорт данных справочника 51 "Коммунальные услуги".</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:sequence>
						<xs:element name="ImportMainMunicipalService" minOccurs="0" maxOccurs="1000">
							<xs:annotation>
								<xs:documentation>Уровень 2. Создание/изменение главной коммунальной услуги.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:sequence>
										<xs:element ref="base:TransportGUID"/>
										<xs:element name="ElementGuid" type="base:GUIDType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Идентификатор существующего элемента справочника.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:element name="MunicipalServiceRef" type="nsi-base:nsiRef">
										<xs:annotation>
											<xs:documentation>Ссылка на НСИ "Вид коммунальной услуги" (реестровый номер 3).</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="GeneralNeeds" type="xs:boolean" fixed="true" minOccurs="0">
										<xs:annotation>
											<xs:documentation>(не используется) Признак "Услуга предоставляется на общедомовые нужды"</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="SelfProduced" type="xs:boolean" minOccurs="0">
										<xs:annotation>
											<xs:documentation>(не используется) Признак "Самостоятельное производство коммунальной услуги"</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="MainMunicipalServiceName" type="base:String100Type">
										<xs:annotation>
											<xs:documentation>Наименование главной коммунальной услуги.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="MunicipalResourceRef" type="nsi-base:nsiRef" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Ссылка на НСИ "Вид коммунального ресурса" (реестровый номер 2)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element ref="base:OKEI" minOccurs="0">
										<xs:annotation>
											<xs:documentation>(не используется)
Единница измерения из справочника ОКЕИ.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:choice>
										<xs:element name="SortOrder">
											<xs:annotation>
												<xs:documentation>Порядок сортировки.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SortOrderNotDefined" type="xs:boolean" fixed="true">
											<xs:annotation>
												<xs:documentation>Порядок сортировки не задан</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:choice>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="RecoverMainMunicipalService" minOccurs="0" maxOccurs="1000">
							<xs:annotation>
								<xs:documentation>Уровень 2. Восстановление главной коммунальной услуги (ветки).</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="base:TransportGUID"/>
									<xs:element name="ElementGuid" type="base:GUIDType">
										<xs:annotation>
											<xs:documentation>Идентификатор ранее существовавшего  элемента справочника.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="HierarchyRecover" type="xs:boolean" fixed="true" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Признак восстановления всех дочерних элементов.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="DeleteMainMunicipalService" minOccurs="0" maxOccurs="1000">
							<xs:annotation>
								<xs:documentation>Уровень 2. Удаление главной коммунальной услуги (ветки).</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="base:TransportGUID"/>
									<xs:element name="ElementGuid" type="base:GUIDType">
										<xs:annotation>
											<xs:documentation>Идентификатор существующего элемента справочника.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute ref="base:version" use="required" fixed="11.0.0.4"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:key name="importMunicipalServicesRequest_TransportGUIDKey">
			<xs:selector xpath=".//base:TransportGUID"/>
			<xs:field xpath="."/>
		</xs:key>
		<xs:key name="importMunicipalServicesRequest_ElementGuidKey">
			<xs:selector xpath=".//tns:ElementGuid"/>
			<xs:field xpath="."/>
		</xs:key>
	</xs:element>
	<!--Импортировать данные справочника 337 "Коммунальные ресурсы, потребляемые при использовании и содержании общего имущества в многоквартирном доме"-->
	<xs:element name="importGeneralNeedsMunicipalResourceRequest">
		<xs:annotation>
			<xs:documentation>Запрос на импорт данных справочника 337 "Коммунальные ресурсы, потребляемые при использовании и содержании общего имущества в многоквартирном доме".</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:choice>
						<xs:sequence>
							<xs:element name="TopLevelMunicipalResource" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Для записей 2-го уровня иерархии сссылка на родитльскую запись. Поскольку записи 1-го уровня иерархии добавляются всем поставщикам и их неввозможно изменить/удалить, ссылка ннх представлена реестровым номером записи из справочника "Вид коммунального ресурса" (см описание ParentCode). В ответе на запрос вместе с указанным TransportGuid возвращается GUID записи.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ParentCode">
											<xs:annotation>
												<xs:documentation>Код родительской записи верхнего уровня. Может быть:
1 - Холодная вода
2 - Горячая вода
3 - Электрическая энергия
8 - Сточные воды</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:byte">
													<xs:enumeration value="1"/>
													<xs:enumeration value="2"/>
													<xs:enumeration value="3"/>
													<xs:enumeration value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element ref="base:TransportGUID"/>
										<xs:element name="ImportGeneralMunicipalResource" minOccurs="0" maxOccurs="1000">
											<xs:annotation>
												<xs:documentation>Создание/изменение главного коммунального ресурса (ветки)</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="tns:importGeneralNeedsMunicipalResourceType"/>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="RecoverGeneralMunicipalResource" minOccurs="0" maxOccurs="1000">
								<xs:annotation>
									<xs:documentation>Восстановление главного коммунального ресурса (ветки).</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="base:TransportGUID"/>
										<xs:element name="ElementGuid" type="base:GUIDType">
											<xs:annotation>
												<xs:documentation>Идентификатор ранее существовавшего  элемента справочника.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="DeleteGeneralMunicipalResource" minOccurs="0" maxOccurs="1000">
								<xs:annotation>
									<xs:documentation>Удаление  главного коммунального ресурса (ветки).</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="base:TransportGUID"/>
										<xs:element name="ElementGuid" type="base:GUIDType">
											<xs:annotation>
												<xs:documentation>Идентификатор существующего элемента справочника.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:choice>
					<xs:attribute ref="base:version" use="required" fixed="12.2.2.1"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:key name="importGeneralNeedsMunicipalResourceRequest_TransportGUIDKey">
			<xs:selector xpath=".//base:TransportGUID"/>
			<xs:field xpath="."/>
		</xs:key>
		<xs:key name="importGeneralNeedsMunicipalResourceRequest_ElementGuidKey">
			<xs:selector xpath=".//tns:ElementGuid"/>
			<xs:field xpath="."/>
		</xs:key>
	</xs:element>
	<xs:complexType name="importGeneralNeedsMunicipalResourceType">
		<xs:annotation>
			<xs:documentation>Тип позиции справочника 337 "Коммунальные ресурсы, потребляемые при использовании и содержании общего имущества в многоквартирном доме".</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="base:TransportGUID"/>
			<xs:element name="ElementGuid" type="base:GUIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор существующего элемента справочника 2-го уровня иерархии и ниже</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeneralMunicipalResourceName" type="base:String255Type">
				<xs:annotation>
					<xs:documentation>Наименование главного коммунального ресурса.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MunicipalResourceRef" type="nsi-base:nsiRef">
				<xs:annotation>
					<xs:documentation>Вид коммунального ресурса (НСИ №2 "Вид коммунального ресурса").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="base:OKEI">
				<xs:annotation>
					<xs:documentation>(не используется)
Единница измерения из справочника ОКЕИ.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="SortOrder">
					<xs:annotation>
						<xs:documentation>Порядок сортировки.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="3"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SortOrderNotDefined" type="xs:boolean" fixed="true">
					<xs:annotation>
						<xs:documentation>Порядок сортировки не задан</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<!--Импортировать данные справочника 59 "Работы и услуги организации"-->
	<xs:element name="importOrganizationWorksRequest">
		<xs:annotation>
			<xs:documentation>Запрос на импорт данных справочника 59 "Работы и услуги организации".</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:sequence>
						<xs:element name="ImportOrganizationWork" type="tns:ImportOrganizationWorkType" minOccurs="0" maxOccurs="1000">
							<xs:annotation>
								<xs:documentation>Создание/изменение элемента справочника работ и услуг</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RecoverOrganizationWork" minOccurs="0" maxOccurs="1000">
							<xs:annotation>
								<xs:documentation>Восстановление элемент (ветки) справочника работ и услуг организации.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="base:TransportGUID"/>
									<xs:element name="ElementGuid" type="base:GUIDType">
										<xs:annotation>
											<xs:documentation>Идентификатор ранее существовавшего  элемента справочника.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="HierarchyRecover" type="xs:boolean" fixed="true" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Признак восстановления всех дочерних элементов.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="DeleteOrganizationWork" minOccurs="0" maxOccurs="1000">
							<xs:annotation>
								<xs:documentation>Удаление элемента (ветки) справочника работ и услуг организации.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="base:TransportGUID"/>
									<xs:element name="ElementGuid" type="base:GUIDType">
										<xs:annotation>
											<xs:documentation>Идентификатор существующего элемента справочника.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute ref="base:version" use="required" fixed="10.0.1.2"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:key name="importOrganizationWorksRequest_TransportGUIDKey">
			<xs:selector xpath=".//base:TransportGUID"/>
			<xs:field xpath="."/>
		</xs:key>
		<xs:key name="importOrganizationWorksRequest_ElementGuidKey">
			<xs:selector xpath=".//tns:ElementGuid"/>
			<xs:field xpath="."/>
		</xs:key>
	</xs:element>
	<xs:complexType name="ImportOrganizationWorkType">
		<xs:annotation>
			<xs:documentation>Элемент справочника работ и услуг организации.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:sequence>
				<xs:element ref="base:TransportGUID"/>
				<xs:choice minOccurs="0">
					<xs:element name="ElementGuid" type="base:GUIDType">
						<xs:annotation>
							<xs:documentation>Идентификатор существующего элемента справочника.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InsertInCopiedWorks" type="xs:boolean" fixed="true">
						<xs:annotation>
							<xs:documentation>Добавить в запись кодом 0 - "Работы (услуги), скопированные из справочника другой организации", запрещенной для редактирования.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
			<xs:element name="WorkName" type="base:String500Type">
				<xs:annotation>
					<xs:documentation>Название работы/услуги.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceTypeRef" type="nsi-base:nsiRef">
				<xs:annotation>
					<xs:documentation>Ссылка на НСИ "Вид работ" (реестровый номер 56).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RequiredServiceRef" type="nsi-base:nsiRef" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Ссылка на НСИ "Обязательные работы, обеспечивающие надлежащее содержание МКД" (реестровый номер 67).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element ref="base:OKEI">
					<xs:annotation>
						<xs:documentation>Единница измерения из справочника ОКЕИ.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="StringDimensionUnit" type="base:String100Type">
					<xs:annotation>
						<xs:documentation>Элемент не рекомендуется использовать. Вместо него следует использовать элемент base:OKEI</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="ImportOrganizationWork" type="tns:ImportOrganizationWorkType" minOccurs="0" maxOccurs="1000">
				<xs:annotation>
					<xs:documentation>Дочерний  элемент</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--Импортировать данные справочника 219 "Вид работ капитального ремонта"-->
	<xs:element name="importCapitalRepairWorkRequest">
		<xs:annotation>
			<xs:documentation>Запрос на импорт данных справочника 219 "Вид работ капитального ремонта".</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:sequence>
						<xs:element name="ImportCapitalRepairWork" type="tns:ImportCapitalRepairWorkType" minOccurs="0" maxOccurs="1000">
							<xs:annotation>
								<xs:documentation>Создание/изменение элемента справочника виды работ капитального ремонта</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RecoverCapitalRepairWork" minOccurs="0" maxOccurs="1000">
							<xs:annotation>
								<xs:documentation>Восстановление элемента справочника виды работ капитального ремонта</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="base:TransportGUID"/>
									<xs:element name="ElementGuid" type="base:GUIDType">
										<xs:annotation>
											<xs:documentation>Идентификатор существующего элемента справочника.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="DeleteCapitalRepairWork" minOccurs="0" maxOccurs="1000">
							<xs:annotation>
								<xs:documentation>Удаление элемента справочника виды работ капитального ремонта</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="base:TransportGUID"/>
									<xs:element name="ElementGuid" type="base:GUIDType">
										<xs:annotation>
											<xs:documentation>Идентификатор существующего элемента справочника.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute ref="base:version" use="required" fixed="11.1.0.5"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:key name="ElementGuid_CR_Unique">
			<xs:selector xpath=".//tns:ElementGuid"/>
			<xs:field xpath="."/>
		</xs:key>
		<xs:key name="TransportGUID_Unique">
			<xs:selector xpath=".//base:TransportGUID"/>
			<xs:field xpath="."/>
		</xs:key>
	</xs:element>
	<xs:complexType name="ImportCapitalRepairWorkType">
		<xs:annotation>
			<xs:documentation>Элемент справочника виды работ капитального ремонта.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:sequence>
				<xs:element ref="base:TransportGUID"/>
				<xs:element name="ElementGuid" type="base:GUIDType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Идентификатор существующего элемента справочника.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:element name="ServiceName" type="base:String500Type">
				<xs:annotation>
					<xs:documentation>Наименование вида работ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkGroupRef" type="nsi-base:nsiRef">
				<xs:annotation>
					<xs:documentation>Ссылка на НСИ "Группа работ" (реестровый номер 218).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--Импортировать данные справочника 272 "Система коммунальной инфраструктуры"-->
	<xs:element name="importCommunalInfrastructureSystemRequest">
		<xs:annotation>
			<xs:documentation>Запрос на импорт данных справочника 272 "Система коммунальной инфраструктуры"</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:sequence>
						<xs:element name="ImportCommunalInfrastructureSystem" type="tns:importCommunalInfrastructureSystemType" minOccurs="0" maxOccurs="1000">
							<xs:annotation>
								<xs:documentation>Создание/изменение элемента справочника коммунальной инфраструктуры</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RecoverCommunalInfrastructureSystem" minOccurs="0" maxOccurs="1000">
							<xs:annotation>
								<xs:documentation>Восстановление элемента справочника коммунальной инфраструктуры</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="base:TransportGUID"/>
									<xs:element name="ElementGuid" type="base:GUIDType">
										<xs:annotation>
											<xs:documentation>Идентификатор существующего элемента справочника.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="DeleteCommunalInfrastructureSystem" minOccurs="0" maxOccurs="1000">
							<xs:annotation>
								<xs:documentation>Удаление элемента справочника коммунальной инфраструктуры</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="base:TransportGUID"/>
									<xs:element name="ElementGuid" type="base:GUIDType">
										<xs:annotation>
											<xs:documentation>Идентификатор существующего элемента справочника.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute ref="base:version" use="required" fixed="11.5.0.2"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:key name="TransportGuid_CIS_Unique">
			<xs:selector xpath=".//base:TransportGUID"/>
			<xs:field xpath="."/>
		</xs:key>
		<xs:key name="ElementGuid_CIS_Unique">
			<xs:selector xpath=".//tns:ElementGuid"/>
			<xs:field xpath="."/>
		</xs:key>
	</xs:element>
	<xs:complexType name="importCommunalInfrastructureSystemType">
		<xs:annotation>
			<xs:documentation>Элемент справочника "Система коммунальной инфраструктуры"</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:sequence>
				<xs:element ref="base:TransportGUID"/>
				<xs:element name="ElementGuid" type="base:GUIDType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Идентификатор существующего элемента справочника.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:element name="SystemName" type="base:String500Type">
				<xs:annotation>
					<xs:documentation>Наименование системы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommunalSystemInfrastructureType" type="nsi-base:nsiRef">
				<xs:annotation>
					<xs:documentation>Ссылка на НСИ 42
Вид системы коммунальной инфраструктуры</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--Импортировать данные справочника 302 "Основание принятия решения о мерах социальной поддержки гражданина"-->
	<xs:element name="importBaseDecisionMSPRequest">
		<xs:annotation>
			<xs:documentation>Запрос на импорт данных справочника 302 "Основание принятия решения о мерах социальной поддержки гражданина".</xs:documentation>
			<xs:documentation>Зание принятия решения о мерах социальной поддержки гражданина".</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:sequence>
						<xs:element name="ImportBaseDecisionMSP" type="tns:importBaseDecisionMSPType" minOccurs="0" maxOccurs="1000">
							<xs:annotation>
								<xs:documentation>Создание/изменение элемента справочника оснований принятия решений</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RecoverBaseDecisionMSP" minOccurs="0" maxOccurs="1000">
							<xs:annotation>
								<xs:documentation>Восстановление элемента справочника оснований принятия решений</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="base:TransportGUID"/>
									<xs:element name="ElementGuid" type="base:GUIDType">
										<xs:annotation>
											<xs:documentation>Идентификатор существующего элемента справочника.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="DeleteBaseDecisionMSP" minOccurs="0" maxOccurs="1000">
							<xs:annotation>
								<xs:documentation>Удаление элемента справочника оснований принятия решений</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="base:TransportGUID"/>
									<xs:element name="ElementGuid" type="base:GUIDType">
										<xs:annotation>
											<xs:documentation>Идентификатор существующего элемента справочника.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute ref="base:version" use="required" fixed="11.1.0.5"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:key name="TransportGuid_Unique">
			<xs:selector xpath=".//base:TransportGUID"/>
			<xs:field xpath="."/>
		</xs:key>
		<xs:key name="ElementGuid_BDMS_Unique">
			<xs:selector xpath=".//tns:ElementGuid"/>
			<xs:field xpath="."/>
		</xs:key>
	</xs:element>
	<xs:complexType name="importBaseDecisionMSPType">
		<xs:annotation>
			<xs:documentation>Элемент справочника оснований принятия решений.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:sequence>
				<xs:element ref="base:TransportGUID"/>
				<xs:element name="ElementGuid" type="base:GUIDType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Идентификатор существующего элемента справочника.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:element name="DecisionName" type="base:String500Type">
				<xs:annotation>
					<xs:documentation>Наименование основания принятия решения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DecisionType" type="nsi-base:nsiRef">
				<xs:annotation>
					<xs:documentation>Ссылка на НСИ "Тип решения о мерах социальной поддержки гражданина" (реестровый номер 301)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsAppliedToSubsidiaries" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Применяется для субсидий</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsAppliedToRefundOfCharges" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Применяется для компенсации расходов</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--Экспортировать данные справочников поставщика информации  (1,51,59,219,272,302,337)-->
	<xs:element name="exportDataProviderNsiItemRequest">
		<xs:annotation>
			<xs:documentation>Запрос на получение данных справочника поставщика</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:sequence>
						<xs:element name="RegistryNumber">
							<xs:annotation>
								<xs:documentation>Реестровый номер справочника.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="nsi-base:NsiItemRegistryNumberType">
									<xs:enumeration value="1"/>
									<xs:enumeration value="51"/>
									<xs:enumeration value="59"/>
									<xs:enumeration value="219"/>
									<xs:enumeration value="272"/>
									<xs:enumeration value="302"/>
									<xs:enumeration value="337"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ModifiedAfter" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Дата и время, измененные после которой элементы справочника должны быть возвращены в ответе. Если не указана, возвращаются все элементы справочника.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute ref="base:version" use="required" fixed="10.0.1.2"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!--Экспортировать данные справочников поставщика информации постранично -->
	<xs:element name="exportDataProviderNsiPagingItemRequest">
		<xs:annotation>
			<xs:documentation>Запрос на получение данных справочника поставщика постранично</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:sequence>
						<xs:element name="RegistryNumber">
							<xs:annotation>
								<xs:documentation>Реестровый номер справочника.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="nsi-base:NsiItemRegistryNumberType">
									<xs:enumeration value="1"/>
									<xs:enumeration value="51"/>
									<xs:enumeration value="59"/>
									<xs:enumeration value="219"/>
									<xs:enumeration value="302"/>
									<xs:enumeration value="337"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Page">
							<xs:annotation>
								<xs:documentation>Страница выборки. Возвращается по 1000 элементов.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:minInclusive value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ModifiedAfter" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Дата и время, измененные после которой элементы справочника должны быть возвращены в ответе. Если не указана, возвращаются все элементы справочника.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute ref="base:version" use="required" fixed="11.1.0.5"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!--Методы для асинхронного обмена-->
	<xs:element name="getStateResult">
		<xs:annotation>
			<xs:documentation>Возврат статуса отправленного сообщения</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseAsyncResponseType">
					<xs:choice minOccurs="0">
						<xs:element ref="base:ErrorMessage"/>
						<xs:element name="ImportResult" type="base:CommonResultType" maxOccurs="unbounded"/>
						<xs:element name="NsiItem" type="nsi-base:NsiItemType"/>
						<xs:element name="NsiPagingItem">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="nsi-base:NsiItemType">
										<xs:sequence>
											<xs:element name="TotalItemsCount" type="xs:int">
												<xs:annotation>
													<xs:documentation>Количество записей в справочнике</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="TotalPages" type="xs:int">
												<xs:annotation>
													<xs:documentation>Количество страниц</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="CurrentPage">
												<xs:annotation>
													<xs:documentation>Номер текущей страницы</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="NsiList" type="nsi-base:NsiListType"/>
					</xs:choice>
					<xs:attribute ref="base:version" use="required" fixed="10.0.1.2"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
