backend/app/gis/data/hcs_wsdl_xsd_v.13.2.7.1/volume-quality/hcs-volume-quality-service-async.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/volume-quality-service-async/" xmlns:qv="http://dom.gosuslugi.ru/schema/integration/volume-quality/" xmlns:base="http://dom.gosuslugi.ru/schema/integration/base/" xmlns:ns="http://www.w3.org/2000/09/xmldsig#" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://dom.gosuslugi.ru/schema/integration/account-base/" xmlns:ns2="http://dom.gosuslugi.ru/schema/integration/individual-registry-base/" xmlns:ns3="http://dom.gosuslugi.ru/schema/integration/metering-device-base/" xmlns:ns4="http://dom.gosuslugi.ru/schema/integration/nsi-base/" xmlns:ns5="http://dom.gosuslugi.ru/schema/integration/organizations-registry-base/" xmlns:ns6="http://dom.gosuslugi.ru/schema/integration/bills-base/" xmlns:ns7="http://dom.gosuslugi.ru/schema/integration/organizations-base/" xmlns:ns8="http://dom.gosuslugi.ru/schema/integration/premises-base/" targetNamespace="http://dom.gosuslugi.ru/schema/integration/volume-quality-service-async/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="13.0.0.7">
			<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/volume-quality/" schemaLocation="hcs-volume-quality-types.xsd"/>
			<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/base/" schemaLocation="../lib/hcs-base.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="Fault">
		<wsdl:part name="Fault" element="base:Fault"/>
	</wsdl:message>
	<wsdl:message name="RequestHeader">
		<wsdl:part name="Header" element="base:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="ResultHeader">
		<wsdl:part name="Header" element="base:ResultHeader"/>
	</wsdl:message>
	<wsdl:message name="getStateRequest">
		<wsdl:part name="getStateRequest" element="base:getStateRequest"/>
	</wsdl:message>
	<wsdl:message name="getStateResult">
		<wsdl:part name="getStateResult" element="qv:getStateResult"/>
	</wsdl:message>
	<wsdl:message name="importVolumeAndQualityInformationRequest">
		<wsdl:part name="importVolumeAndQualityInformationRequest" element="qv:importVolumeAndQualityInformationRequest"/>
	</wsdl:message>
	<wsdl:message name="importVolumeAndQualityInformationResult">
		<wsdl:part name="importVolumeAndQualityInformationResult" element="base:AckRequest"/>
	</wsdl:message>
	<wsdl:message name="importIntervalRequest">
		<wsdl:part name="importIntervalRequest" element="qv:importIntervalRequest"/>
	</wsdl:message>
	<wsdl:message name="importIntervalResult">
		<wsdl:part name="AckRequest" element="base:AckRequest"/>
	</wsdl:message>
	<wsdl:portType name="VolumeQualityPortAsync">
		<wsdl:operation name="importVolumeAndQualityInformation">
			<wsdl:documentation>Импорт информаци об объеме и качестве КР и КУ</wsdl:documentation>
			<wsdl:input message="tns:importVolumeAndQualityInformationRequest"/>
			<wsdl:output message="tns:importVolumeAndQualityInformationResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="getState">
			<wsdl:input message="tns:getStateRequest"/>
			<wsdl:output message="tns:getStateResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="importInterval">
			<wsdl:input message="tns:importIntervalRequest"/>
			<wsdl:output message="tns:importIntervalResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="VolumeQualityBindingAsync" type="tns:VolumeQualityPortAsync">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="importVolumeAndQualityInformation">
			<soap:operation soapAction="urn:importVolumeAndQualityInformation"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getState">
			<soap:operation soapAction="urn:getState"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="importInterval">
			<soap:operation soapAction="urn:importInterval"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="VolumeQualityServiceAsync">
		<wsdl:documentation>Сервис управления сведениями об объеме и качестве коммунальных услуг и коммунальных ресурсов (асинхронный)</wsdl:documentation>
		<wsdl:port name="VolumeQualityPortAsync" binding="tns:VolumeQualityBindingAsync">
			<soap:address location="https://api.dom.gosuslugi.ru/ext-bus-volume-quality-service/services/VolumeQualityAsync"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
